body {
    /* Color de fondo */
    /* background-color: #FFD6FF;; */
    /* background: no-repeat center/100% url(); */
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    text-align: justify;
    background: linear-gradient(to top, #c4fff9 20%, #FFFFFF 40%); /*degradado*/
}

h1 {
    font-family: "Orbitron",sans-serif;
    font-size: 50px;
    text-align: center;
    color: #07beb8;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    color: #07beb8;/* Color de texto */
}
/* # indica que es un ID */
/* . indica que es una clase */
.dw0 {
    /* pixeles (px) y porcentaje (%) este de adapta mejor a la pantalla dependiendo el tamaño */
    width: 70%; /*ANCHO*/
    display: block;
    margin: auto;
}

/* Para modificar CSS de un elemento en particular HTML, asignamos una clase (class)
y esa la "llamamos" en el CSS con un punto ( . ) antes del 
.dw2{
     Anchura 
    width: 100%;
    redonder esquinas de imagenes 
    border-radius: 20px; }*/
    
/* Editar div del menu */
.menu {
    /* Div flexible para moverse con los elementos dentro de sí */
    display: flex;
    /* En columna */
    flex-direction: column;
    /* Alinea ítems de forma centrada */
    align-items: center;
}
/* Anclas del menú */
a {
    color: #FFFFFF;
    /* viñetas - linea debajo del texto */
    text-decoration: none;
    font-size: 25px;
    /* ANCLAS COMO BOTONES */
    background-color: #E7C6FF;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}
a:hover {
    background-color: #B8C0FF;
    color: white;
}

.container img {
    width: 70%;
    display: block;
    margin: auto;

}

.click img{
    width: 70%;
    display: block;
    margin: auto;
}

.conta {
    display: flex;
    /* align-items -- alinear verticalmente */
    align-items: center;
}
.logo {
    width: 20% ;
    /* margin-right (margen de un lado, el derecho para hcaer espacio */
    margin-right: 30px;
    margin-left: 50px;
}
